@font-face {
  font-family: 'JeonjuCraftGoR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
  font-weight: normal;
font-style: normal;
}

* {
  font-family: 'JeonjuCraftGoR';
}

body {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.react-autosuggest__suggestions-list {
  padding: 0;
}

.react-autosuggest__suggestions-list li {
  list-style: none;
  display: inline-block;
  margin: 0 10px 10px 0;
  /* position: relative;
  width: auto;
  height: auto;
  border-radius: 25px;
  background-color: #f0ede6;
  padding: 6px 14px;
  font-weight: 400;
  color: #726f69;
  box-shadow: inset 3px 3px 6px #e5ece6, 2px 2px 4px #e5ece6;
  cursor: pointer;
  transition: .4s;
  white-space: normal;
  overflow-wrap: break-word; */
}

.rbc-toolbar {
  display: block;
}

.rbc-toolbar-label {
  text-align: center !important;
  margin-right: 200px !important;
}